venv/*
.vscode/*
.idea/*
__pycache__/*
calculator/__pycache__/*
calculator/core/__pycache__/*
calculator/network/__pycache__/*
calculator/ui/__pycache__/*
calculator/utils/__pycache__/*
dataset/*
dataset/test/*
dataset/data/*
dataset/testdata/*
*.ipynb
*.npy
test.py
letter_paper.jpg
test.py